---
---

@import "minima";

.social-media-list {
    li {
        display: inline;
        margin-right: 8px;
    }
}

.mvp-logo {
    width: 208px;
}

.certs {
    display: inline;

    img {
        width: 208px;
        margin-right: 8px;
    }
}